html, body {
    background: black;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    height: 100%;
    overflow: hidden;
    position: relative;
    touch-action: manipulation;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.directBtn{
    background: white; 
    border: 1px solid cyan; 
    border-radius: 50%; 
    display: inline-flex; 
    height: 100%; 
    position: relative;
}
table, tr{
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0px;
}

.shotBtn{
    border: 1px solid snow; 
    border-radius: 50%; 
    background: orangered;
    color: snow;
}



/*#eyes {
    position: relative;
    left: 20px;
    display: inline-block;
    width: 200px;
    height: 50px;
    border: 3px solid red;
}

#rightEye {
    align-self: center;
    width: 50%;
    height: 100%;
    position: absolute;
}

#leftEye {
    width: 50%;
    height: 100%;
    position: absolute;
}*/