body {
    background: black;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas2 {
    position: absolute;
    top: 0;
    left: 0;
}