body {
    background: black;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    overflow: hidden;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*#eyes {
    position: relative;
    left: 20px;
    display: inline-block;
    width: 200px;
    height: 50px;
    border: 3px solid red;
}

#rightEye {
    align-self: center;
    width: 50%;
    height: 100%;
    position: absolute;
}

#leftEye {
    width: 50%;
    height: 100%;
    position: absolute;
}*/